html {
    font-family: sans-serif;
    margin: 10px;
}

body {
    width: 80%;
    align-content: center;
    line-height: 3ex;
    margin-left: 40px;
}

nav {
    
}

nav a {
    padding: 2px;
    font-weight: 800;
}

h1 {
    font-weight: 500;
    font-size: 4ex;
    
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 100;
}

p {
    font-family: sans-serif;
}

ul {
    font-family: sans-serif;
    margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a {
    text-decoration: none;
    color: black;
    list-style: none;
}

a:hover {
    color: red;
}


.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.img-dump {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 50px;
}

.thumbnail {
    width: auto;
    height: 400px;
    padding: 10px;
}

.spacer {
    height: 50px;
}

.spacer-small {
    height: 10px;
}

.block-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    font-size: .9rem;
}

.column {
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
}

.quote {
    font-style: italic;
}
